:root {
    --dark-blue-intro-signup: hsl(217, 28%, 15%);
    --dark-blue-main: hsl(218, 28%, 13%);
    --dark-blue-footer: hsl(216, 53%, 9%);
    --dark-blue-testimonials: hsl(219, 30%, 18%);

    /*Accent*/
    --cyan: hsl(176, 68%, 64%); /*inside CTA gradient*/
    --blue: hsl(198, 60%, 50%); /*inside CTA gradient*/
    --light-red: hsl(0, 100%, 63%); /*error*/

    /*Neutral*/
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /*
    font-family: 'Open Sans', sans-serif; (Body)
    font-family: 'Raleway', sans-serif; (Headings)
    */
    color: var(--white);
    font-size: 14px;
    background-color: var(--dark-blue-main);
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

.header-logo {
    width: 20%;
}

img {
    max-width: 100%;
}

/*****Layout*****/
.header,
.main {
    background-color: var(--dark-blue-intro-signup);
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.75em 1.5em;
    width: 100%;
    height: 10vh;
}

.header-navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-nav .nav-item{
    display: inline-block;
    margin-right: 1em;
}

.main * {
    position: relative;
    z-index: 1000;
}

.main {
    padding: 2em 0;
    text-align: center;
    background: var(--dark-blue-intro-signup) url(images/bg-curvy-mobile.svg) no-repeat center;
}

.bg-main {
    width: 400px;
    height: 250px;
    position: absolute;
    bottom: 0;
    z-index: -1000;
    background-color: var(--dark-blue-main);
    transform: translate(-40px, 30px);
}

.illustration-intro,
.illustration-stay-productive {
    margin-bottom: 2em;
}


.get-started-btn {
    width: 200px;
    height: 50px;
    color: var(--white);
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--cyan), var(--blue));
    border-style: none;
    border-radius: 35px;
}

.section {
    padding: 5em 1em;
}

.section-1-wrapper {
    text-align: center;
}

.wrapper-item {
    padding: 1.5em 0;
}

.fylo-feature-img {
    margin-bottom: 1.5em;
}

.bg-quotes {
    width: 25px;
    transform: translateX(5px);
}

.testimonial {
    margin-bottom: 2em;
    padding: 2em 1.5em;
    background-color: var(--dark-blue-testimonials);
}

.avatar-info {
    display: flex;
    flex-direction: row;
}

.profile-img {
    margin-right: .5em;
    width: 35px;
    border-radius: 50%;
}

.sign-up-form {
    width: 90%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    text-align: center;
    padding: 3em 1.5em;
    background-color: var(--dark-blue-intro-signup);
    border-radius: 15px;
    box-shadow: 0px 3px 10px 1px #000;
}

.sign-up-form form .email{
    margin-bottom: 1em;
    padding-left: 2em;
    width: 100%;
    height: 50px;
    border-radius: 35px;
    border-style: none;
}
.sign-up-form form .submit-btn {
    color: var(--white);
    width: 100%;
    height: 50px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: var(--cyan);
    border-style: none;
    border-radius: 35px;
}

.footer {
    margin-top: 85px;
    padding: 250px 2em 2em;
    background-color: var(--dark-blue-footer);
}

.footer-logo {
    margin-bottom: 3em;
} 

.footer-widget-2,
.footer-widget-3,
.footer-widget-4 {
    margin-bottom: 3em;
}

.footer-widget-1,
.footer-widget-2 .contact {
    display: flex;
    flex-direction: row;
}

.footer-widget-1 img,
.footer-widget-2 .contact img {
    width: 20px;
    height: 20px;
    margin-right: 1em;
}


.footer-nav .nav-item {
    list-style: none;
    margin-bottom: .75em;
}
.footer-nav .nav-item a {
    color: var(--white);
    font-size: 18px;
    letter-spacing: .5px;
    border-style: none;
}

.footer-widget-5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.footer-widget-5 img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    background-color: var(--white);
    border: 1px solid var(--white);
    border-radius: 50%;
}

/*****Typography*****/
h1,
h2,
h3,
h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

h1 {
    margin-bottom: 1em;
    font-size: 24px;
    line-height: 35px;
}

h2 {
    margin-bottom: .75em;
    font-size: 21px;
}

h3 {
    margin-bottom: .75em;
    font-size: 18px;
}

h4 {
    font-size: 14px;
}

span {
    margin-top: .25em;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    display: block;
}

p {
    margin-bottom: 1.5em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 21px;
}

a {
    padding-bottom: .5em;
    color: var(--cyan);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    border-bottom: 2px solid var(--cyan);
}

@media (min-width: 998px) {
    .header {
        height: 80px;
    }

    .header-logo {
        width: 100px;
    }

    .header-navbar {
        font-size: 16px;
    }

    .header-navbar .nav-item {
         margin-right: 2.5em;
    }

    .main {
        background: var(--dark-blue-intro-signup) url(images/bg-curvy-desktop.svg) no-repeat bottom;
        background-size: 100% 250px;
    }

    .main .container {
        width: 40%;
    }

    .bg-main {
        display: none;
    }

    .section-1-wrapper {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        'feature1 feature2'
        'feature3 feature4';
    }

    .wrapper-item {
        padding: 1em 2em;
    }

    .wrapper-item-1 {
        grid-area: feature1;
    }
    .wrapper-item-2 {
        grid-area: feature2;
    }
    .wrapper-item-3 {
        grid-area: feature3;
    }
    .wrapper-item-4 {
        grid-area: feature4;
    }

    .stay-productive-section {
        display: flex;
        flex-direction: row;
        align-items: center;

    }

    .stay-productive-info {
        padding: 0 3em;
        display: flex;
        flex-direction: column;
    }

    .testimonials {
        display: flex;
        flex-direction: row
    }

    .testimonial {
        margin-right: 2em;
    }

    .bg-quotes {
        width: 35px;
    }

    .sign-up-form {
        width: 70%;
        left: 50%;
        transform: translateX(-50%);
        padding-left: 3em;
        padding-right: 3em;
    }

    .sign-up-form form {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .sign-up-form form .email {
        width: 60%;
        margin-right: 2em;
    }
    .sign-up-form form .submit-btn {
        width: 30%;
    }

    .footer {
        padding-top: 150px;
    }

    .footer-widgets {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 40% 25% 10% 10% 15%;
        grid-template-areas: 
        'widget-1 widget-2 widget-3 widget-4 widget-5';
    }

    .footer-widget {
        margin-right: 2em;
    }
    .footer-widget-1 {
        grid-area: widget-1;
    }
    .footer-widget-2 {
        grid-area: widget-2;
    }
    .footer-widget-3 {
        grid-area: widget-3;
    }
    .footer-widget-4 {
        grid-area: widget-4;
    }
    .footer-widget-5 {
        grid-area: widget-5;
    }

}/*End of media query*/


/*Attribution*/
.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }
